<div class="home-container">
    <header>
        <h1>Voting</h1>
    </header>

    <main>
        <div class="button-container">
            <button (click)="navToCreate()" class="create-button">
                Create Survey
            </button>

            <button (click)="navToJoin()" class="join-button">
                Join Survey
            </button>

            <button (click)="navToList()" class="list-button">
                My Surveys
            </button>
            
            <button (click)="navToResults()" class="result-button">
                Live Results
            </button>
        </div>
    </main>

    <footer>
        <p>Snowdon</p>
    </footer>
</div>
  